*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #333;
    color: hsl(200, 100%, 90%);
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
}
.New_item{ /*new-item-form*/
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.Form_row{ /*form-row*/
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.btn{
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}
.btn:hover, .btn:focus-visible{
    background: hsl(200, 100%, 50%, 0.2);
}
.btn.btn-delete{ /*btn-danger*/
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
}
.btn.btn-delete:hover, .btn.btn-danger:focus-visible{ /*btn-danger*/
    background: hsl(0, 100%, 40%, 0.2);
}
.New_item input{
    outline: none;
    border: 1px solid hsl(200, 100%, 40%);
    background: hsl(200, 100%, 30%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(200, 100%, 90%);
}
.New_item input:focus{ /*new-item-form*/
    border: 1px solid hsl(200, 100%, 70%);
}
.Header{ /*header*/
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.List{ /*list*/
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}
.List li:has(input:checked) label{ /*list*/
    color: hsl(200, 20%, 40%);
}
.List li{ /*list*/
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.List li label{ /*list*/
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
}
.List li:has(input:focus-visible) label{ /*list*/
    outline: 1px solid hsl(200, 100%, 50%);
}
.List li input{ /*list*/
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
}
.List li label::before{ /*list*/
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.List li label:hover::before{ /*list*/
    background: hsl(200, 100%, 80%);
}
.List li:has(input:checked) label::before{ /*list*/
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
}
.List li:has(input:checked) label:hover::before{ /*list*/
    background: hsl(200, 100%, 30%);
}